# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
/src/__tests__/components/__snapshots__
.scannerwork

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.*
.idea/
.history/
test-report.xml
sonar-project.local.properties
